<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mediaplugin type="Sitecore.Foundation.MediaPlugin.Models.MediaConfig, Sitecore.Foundation.MediaPlugin">
      <mediapluginconfig hint="raw:AddFileConfig">
        <fileconfig extension="jpg" sizeallowed="2" sizeunit="mb" mediatype="image"/>
        <fileconfig extension="png" sizeallowed="2" sizeunit="mb" mediatype="image"/>
        <fileconfig extension="gif" sizeallowed="2" sizeunit="mb" mediatype="image"/>
        <fileconfig extension="pdf" sizeallowed="3" sizeunit="mb" mediatype="file"/>
        <fileconfig extension="doc" sizeallowed="20" sizeunit="mb" mediatype="file"/>
        <fileconfig extension="docx" sizeallowed="20" sizeunit="mb" mediatype="file"/>
        <fileconfig extension="mp4" sizeallowed="4" sizeunit="mb" mediatype="file"/>
      </mediapluginconfig>
    </mediaplugin>
    <processors>
      <uiUpload>
        <processor patch:instead="*[@type='Sitecore.Pipelines.Upload.CheckSize, Sitecore.Kernel']" mode="on" type="Sitecore.Foundation.MediaPlugin.Pipelines.Media.UploadCheckSize,Sitecore.Foundation.MediaPlugin">
        </processor>
      </uiUpload>
      <attachFile>
        <processor patch:instead="*[@type='Sitecore.Pipelines.Attach.CheckSize,Sitecore.Kernel']" mode="on" type="Sitecore.Foundation.MediaPlugin.Pipelines.Media.AttachCheckSize,Sitecore.Foundation.MediaPlugin" />
      </attachFile>
    </processors>
  </sitecore>
</configuration>